# Ignore all files in cmake directory
cmake/*
# Except!
!cmake/FindLibOSRM.cmake
!cmake/FindTBB.cmake

# Ignore all files in data directory
data/*
# Except

# Ignore all files in test directory
UnitTest/*
# Except
!UnitTest/CMakeLists.txt
!UnitTest/test/

# Ignore files in main directory
.gitignore~
config.txt
depend
